footer {
  padding: 1rem 0;
  margin: 4rem 2rem;
  text-align: center;
  font-size: 0.8rem;
}

@media (min-width: 481px) and (max-width: 700px) {
  footer {
    margin: 4rem 4rem;
  }
}

@media (min-width: 701px) and (max-width: 900px) {
  footer {
    margin: 4rem 8rem;
  }
}

@media (min-width: 901px) {
  footer {
    margin: 4rem 16rem;
  }
}
