@import url('./home_page.css');
@import url('./grids.css');
@import url('./header.css');
@import url('./footer.css');
@import url('./login.css');
@import url('./signup.css');
@import url('./forgotpassword.css');
@import url('./resetpassword.css');
@import url('./teampage.css');

html,
body {
  background-color: #f8f9fc;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
